.setup-buildtest: &setup-buildtest
  - module load python
  - python -m venv $CI_PROJECT_DIR/pyenv
  - source $CI_PROJECT_DIR/pyenv/bin/activate
  - git clone -b devel https://github.com/buildtesters/buildtest    
  - cd buildtest 
  - . setup.sh
  - git log --oneline -1
  - buildtest --help
  - rm -rf $HOME/.buildtest
  - export BUILDTEST_CONFIGFILE=$CI_PROJECT_DIR/config.yml
  - buildtest config validate
  
.cleanup-buildtest: &cleanup-buildtest
  - mkdir -p $CI_PROJECT_DIR/.artifacts
  - cp $BUILDTEST_ROOT/var/{buildtest.log,report.json} $CI_PROJECT_DIR/.artifacts
  - source deactivate

stages:
  - build
  - test
validate_tests:
  stage: build
  tags: [cori-e4s]
  before_script:
    - *setup-buildtest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "push"'
      when: manual
  script:
    - buildtest buildspec find --rebuild --root $CI_PROJECT_DIR/buildspecs
    - buildtest buildspec find invalid   
  
  after_script:
    - *cleanup-buildtest

perlmutter_e4s:
  stage: test
  tags: [perlmutter-e4s]
  only:
    refs:
      - schedules
    variables:
      - $TESTNAME == "perlmutter_e4s"
  before_script:
    - *setup-buildtest   
  script:
    - buildtest buildspec find --rebuild --root $CI_PROJECT_DIR/buildspecs
    - buildtest build -t e4s --account m3503_g --testdir $CFS/m3503/buildtest/runs/$CI_JOB_NAME/$(date +%F)
    - buildtest report --filter state=FAIL
    - buildtest cdash upload e4s
  after_script:
    - *cleanup-buildtest
  artifacts:
    paths:
      - $CI_PROJECT_DIR/.artifacts

perlmutter_check:
  stage: test
  tags: [perlmutter-e4s]
  only:
    refs:
      - schedules
    variables:
      - $TESTNAME == "perlmutter_check"
  before_script:
    - *setup-buildtest
  script:
    - buildtest buildspec find --rebuild --root $CI_PROJECT_DIR/buildspecs
    - buildtest build -t system --account m3503_g --testdir $CFS/m3503/buildtest/runs/$CI_JOB_NAME/$(date +%F)
    - buildtest report --filter state=FAIL
    - buildtest cdash upload systemcheck
  after_script:
    - *cleanup-buildtest
  artifacts:
    paths:
      - $CI_PROJECT_DIR/.artifacts

perlmutter_gpu:
  stage: test
  tags: [perlmutter-e4s]
  only:
    refs:
      - schedules
    variables:
      - $TESTNAME == "perlmutter_gpu"
  before_script:
    - *setup-buildtest
  script:
    - buildtest buildspec find --rebuild --root $CI_PROJECT_DIR/buildspecs
    - buildtest build -t gpu --account m3503_g --testdir $CFS/m3503/buildtest/runs/$CI_JOB_NAME/$(date +%F)
    - buildtest report --filter state=FAIL
    - buildtest cdash upload gpu
  after_script:
    - *cleanup-buildtest
  artifacts:
    paths:
      - $CI_PROJECT_DIR/.artifacts

cori_check:
  stage: test
  only:
    refs:
      - schedules
    variables:
      - $TESTNAME == "cori_check"
  tags: [cori-e4s]
  before_script:
    - *setup-buildtest
  script:
    - buildtest buildspec find --rebuild --root $CI_PROJECT_DIR/buildspecs
    - buildtest build --tags daily --filter tags=daily  --testdir $CFS/m3503/buildtest/runs/$CI_JOB_NAME/$(date +%F)
    - buildtest report --filter state=FAIL 
    - buildtest cdash upload systemcheck 
  after_script:
    - *cleanup-buildtest
  artifacts:
    paths:
      - $CI_PROJECT_DIR/.artifacts   
  
cori_apps:
  stage: test
  tags: [cori-e4s]
  only: 
    refs: 
      - schedules
    variables:
      - $TESTNAME == "cori_apps"

  before_script:
  - *setup-buildtest
  script:
    - buildtest buildspec find --rebuild --root $CI_PROJECT_DIR/buildspecs
    - buildtest build --tags compile --filter tags=compile  --testdir $CFS/m3503/buildtest/runs/$CI_JOB_NAME/$(date +%F)
    - buildtest report --filter state=FAIL 
    - buildtest cdash upload apps  
  after_script:
    - *cleanup-buildtest  
  artifacts:
    paths:
      - $CI_PROJECT_DIR/.artifacts

cori_benchmark:
  stage: test
  tags: [cori-e4s]
  only:
    refs:
      - schedules
    variables:
      - $TESTNAME == "cori_benchmark"

  before_script:
  - *setup-buildtest
  script:
    - buildtest buildspec find --rebuild --root $CI_PROJECT_DIR/buildspecs
    - buildtest build --tags benchmark --filter tags=benchmark --testdir $CFS/m3503/buildtest/runs/$CI_JOB_NAME/$(date +%F)
    - buildtest report --filter state=FAIL
    - buildtest cdash upload benchmark
  after_script:
    - *cleanup-buildtest
  artifacts:
    paths:
      - $CI_PROJECT_DIR/.artifacts

cori_e4s:
  stage: test
  tags: [cori-e4s]
  only:
    refs:
      - schedules
    variables:
      - $TESTNAME == "cori_e4s"
  before_script:
    - *setup-buildtest
  script:
    - buildtest buildspec find --rebuild --root $CI_PROJECT_DIR/buildspecs
    - buildtest build --tags e4s --testdir $CFS/m3503/buildtest/runs/$CI_JOB_NAME/$(date +%F)
    - buildtest report --filter state=FAIL
    - buildtest  cdash upload e4s 
  after_script:
    - *cleanup-buildtest  
  artifacts:
    paths:
      - $CI_PROJECT_DIR/.artifacts
